<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>title</title>
</head>
<body>
   <h1><%= title %></h1> 
   <p>Welcome to <%= title %></p>
    <ul>
      <% for( let i = 0; i < data.length; i++ ) { %>
        <li>
           <a href="/detalle/<%= data[i].id %>"><%= data[i].title %></a>
        </li>
      <% } %>
    </ul>

</body>
</html>